<body id="collector">

        <div id="header" class="flex-container">
            <header id="head">
                <img id="crono" src="images/Crono-Front.gif">
                <div id="uname"></div>
                <img id="coin" src="images/coin.png">
                <div id="points"></div>


            </header>

        </div>

    <br>
    <div class="row">
        <div class="col-md-4"></div>
        <h1 id="eevee" class=" col-md-4 text-center">Eevee's Stone Collector <img style="width: 33%"
                src="/images/eevee.png">
        </h1>
        <div class="col-md-4"></div>
    </div>

    <!-- <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 card" style="background-color: #FAF3DD">
                <h5><strong>Instructions:</strong></h5>
                <p></p>
                <h5>
                    You will be given a random number at the start of the game.
                </h5>
                <p></p>
                <h5>
                    There are four crystals below. By clicking on a crystal you will add a specific amount of points to
                    your total score.
                </h5>
                <p></p>
                <h5>
                    You win the game by matching your total score to the randomly selected goal number, you lose the
                    game if your total score goes above the random number.
                </h5>
                <p></p>
                <h5>
                    The value of each crystal is hidden from you until you click on it.
                </h5>
                <p></p>
                <h5>
                    Each time when the game starts, the game will change the values of each crystal and the goal number
                    will be selected again.
                </h5>
            </div>
            <div class="col-md-2"></div>
        </div> -->
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2 card text-center font-weight-bold" style="background-color: #BCD979">
            <h2 id="goal"> Goal Number: <div id="GoalNumber"></div>
            </h2>
        </div>
        <div class="col-md-2 text-center card" style="background-color: #9DAD6F">
            <h2 id="current">Current Total: <div id="totalscore"></div>
            </h2>
        </div>
        <!-- <div class="col-md-1 card text-center font-weight-bold" style="background-color: #C3DFE0">
                <h3>Wins: <div id="Wins"></div>
                </h3>
            </div>
            <div class="col-md-1 card text-center font-weight-bold" style="background-color: #C84630">
                <h3>Losses: <div id="Losses"></div>
                </h3>
            </div> -->
        <div class="col-md-4"></div>
    </div>
    <div class="row text-white" id="crystalstashtext">
        <div class="col-md-4"></div>
        <div class="col-md-4 card text-center font-weight-bold" style="background-color: #80727B">
            <h3>Stone Stash</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row pb-2 text-center text-white" id="crystalstash">
        <div class="col-md-4"></div>
        <button class="col-md-1 text-center buttons text-white" style="background-color: #80727B" id="firestone">
            <img src="/images/Fire_Stone.png" style="width:100%" alt="Firestone">
            <h4 class="pt-2"> Fire</h4>
            <h4 id="firenum"></h4>
        </button>
        <button class="col-md-1 text-center text-white buttons" style="background-color: #80727B" id="waterstone">
            <img src="/images/Water_Stone.png" style="width:100%" alt="Waterstone">
            <h4 class="pt-2"> Water</h4>
            <h4 id="waternum"></h4>
        </button>
        <button class="col-md-1 text-center text-white buttons" style="background-color: #80727B" id="thunderstone">
            <img src="/images/Thunder_Stone.png" style="width:100%" alt="Thunderstone">
            <h4 class="pt-2"> Thunder</h4>
            <h4 id="thundernum"></h4>
        </button>
        <button class="col-md-1 text-center text-white buttons" style="background-color: #80727B" id="leafstone">
            <img src="/images/Dawn_Stone.png" style="width:100%" alt="Leafstone">
            <h4 class="pt-2"> Dawn</h4>
            <h4 id="leafnum"></h4>
        </button>
        <div class="col-md-4"></div>
    </div>

    <span id="userscore" data-score={{Score}}></span>
    <span id="userfirst" data-first={{firstname}}></span>

    <footer>
        <div id="prompts">Instructions: Say Fire, Water, Thunder, or Dawn. Add points to match the goal number. Don't go
            over! 200 coins for a win!
        </div>


    </footer>
</body>
<script>// Version without passing functions
    var username = $("#userfirst").attr("data-first");
    var usercoins = parseInt($("#userscore").attr("data-score"));


    var firevalue = 0;
    var watervalue = 0;
    var thundervalue = 0;
    var leafvalue = 0;
    var goalnumber = 0;
    var wins = 0;
    var losses = 0;
    var crystaltotal = 0;
    var winsound = new Audio("./sounds/win.mp3");
    var losesound = new Audio("./sounds/lose.mp3");
    var chipsound = new Audio("./sounds/chip_sound.mp3");

    //game start - display wins and losses

    // assign random value to each stone and generate the goal score
    function randomizecrystalvalue() {
        firevalue = Math.floor(Math.random() * 12) + 1;
        watervalue = Math.floor(Math.random() * 12) + 1;
        thundervalue = Math.floor(Math.random() * 12) + 1;
        leafvalue = Math.floor(Math.random() * 12) + 1;
        $("#firenum").text(firevalue);
        $("#waternum").text(watervalue);
        $("#thundernum").text(thundervalue);
        $("#leafnum").text(leafvalue);

        console.log("Values in order: Fire, water, thunder, leaf");
        console.log(firevalue, watervalue, thundervalue, leafvalue);
    };

    function randomizegoalnumber() {
        goalnumber = Math.floor(Math.random() * 102) + 19;
        console.log("Goal number is...")
        console.log(goalnumber)
        $("#GoalNumber").text(goalnumber);
    }

    //show Total, wins, and losses

    function showinitialvalues() {
        $("#totalscore").text(crystaltotal);
        $("#Wins").text(wins);
        $("#Losses").text(losses);


    }

    // click commands to add value of each crystal to total and update screen with current crystal total
    $("#firestone").on("click", function () {
        console.log(firevalue);
        chipsound.play();
        crystaltotal += firevalue;
        console.log("Current Total = " + crystaltotal);
        $("#totalscore").text(crystaltotal);
        valuechecker();
    })

    $("#waterstone").on("click", function () {
        console.log(watervalue);
        chipsound.play();

        crystaltotal += watervalue;
        console.log("Current Total = " + crystaltotal);
        $("#totalscore").text(crystaltotal);
        valuechecker();
    })

    $("#thunderstone").on("click", function () {
        console.log(thundervalue);
        chipsound.play();

        crystaltotal += thundervalue;
        console.log("Current Total = " + crystaltotal);
        $("#totalscore").text(crystaltotal);
        valuechecker();
    })

    $("#leafstone").on("click", function () {
        console.log(leafvalue);
        chipsound.play();

        crystaltotal += leafvalue;
        console.log("Current Total = " + crystaltotal);
        $("#totalscore").text(crystaltotal);
        valuechecker();
    })
    function valuechecker() {
        if (crystaltotal === goalnumber) {
            winsound.play();

            wins++;
            usercoins += 200;
            $("#Wins").text(wins);
            $.ajax({
                url: "/api/updatescore",
                method: "PUT",
                data: {
                    Score: usercoins
                }
            })
            gamereset();

        }
        else if (crystaltotal > goalnumber) {
            losses++;
            losesound.play();

            $("#Losses").text(losses);
            gamereset();
        }
        else { }
    }

    function gamereset() {
        randomizecrystalvalue();
        randomizegoalnumber();
        crystaltotal = 0;
        showinitialvalues();
        $("#uname").text(username);
        $("#points").text(usercoins);


    }

    gamereset()
    //if totalscore<goalnumber keep going
    //else if totalscore = goalnumber win and increment wins count
    //else if totalscore> goal number lose and increment losses count

    $("#startspeech").click(function () {
        alert("READY TO LISTEN FOR VOICE COMMANDS");
        startspeech();
    });


    var commands = {
        'fire': function () {
            console.log(firevalue);
            crystaltotal += firevalue;
            console.log("Current Total = " + crystaltotal);
            $("#totalscore").text(crystaltotal);
            valuechecker();
            chipsound.play();

        },
        'water': function () {
            console.log(watervalue);
            crystaltotal += watervalue;
            console.log("Current Total = " + crystaltotal);
            $("#totalscore").text(crystaltotal);
            valuechecker();
            chipsound.play();

        },
        'thunder': function () {
            console.log(thundervalue);
            crystaltotal += thundervalue;
            console.log("Current Total = " + crystaltotal);
            $("#totalscore").text(crystaltotal);
            valuechecker();
            chipsound.play();

        },
        'dawn': function () {
            console.log(leafvalue);
            crystaltotal += leafvalue;
            console.log("Current Total = " + crystaltotal);
            $("#totalscore").text(crystaltotal);
            valuechecker();
            chipsound.play();

        },
        'go back': function () {
            window.location.href = "/hub"

        }

    };

    // Add our commands to annyang
    annyang.addCommands(commands);

    // Start listening. You can call this here, or attach this call to an event, button, etc.
    annyang.start();
    annyang.isListening()


    console.log(annyang)
</script>