<body id="hub">
    {{!-- <div id="up">
        <button class="button" type="button"><i class="fas fa-arrow-circle-up"></i>Up</button>
    </div>
    <div id="left">
        <button class="button" type="button"><i class="fas fa-arrow-circle-left"></i>Left</button>
    </div>
    <div id="right">
        <button class="button" type="button">Right<i class="fas fa-arrow-circle-right"></i></button>
    </div>
    <div id="down">
        <button class="button" type="button">Down<i class="fas fa-arrow-circle-down"></i></button>
    </div> --}}

    <p><img id="character" src="./images/Crono-Front.gif" data-still="./images/Crono-Front.gif"
            data-walkingleft="./images/Crono-walkingleft.gif" data-walkingright="./images/Crono-walkingright.gif"
            data-walkingup="./images/Crono-walkingup.gif" data-walkingdown="./images/Crono-walkingdown.gif"
            data-state="still" style="position:absolute; top:50%; left: 50%; height: 15%"></p>

    <div class="speech-bubble">
        <div class="arrow bottom right"></div>
        <p>Tell me where to go!</p>
        <p>Say: </p>
        <p>"Go Up" for </p>
        <p>Rock Paper Scissors</p>
        <p>"Go Left" for Stone Collector</p>
        <p>"Go Down" for the Store</p>
        <p>"Go Right" to go Home!</p>
    </div>
    <img src="./images/rps.jpg" alt="" class="fixed-top" style="left: 33%">
    <img src="./images/stone.jpg" alt="" style=" position: absolute; top: 33%; left: 0%;">
    <img src="./images/store.jpg" alt="" class="fixed-bottom" style="left: 33%">
    <img src="./images/home.jpg" alt="" style=" position: absolute; top: 33%; right: 0%;">


    <script>

        var footsteps = new Audio("./sounds/footsteps.mp3");
        var hubloop = new Audio("./sounds/hubloop.mp3");
        hubloop.play();




        var commands = {
            'go up': function () {
                $("#character").attr("src", $("#character").attr("data-walkingup"));
                footsteps.play();
                $("#character").animate({ top: "-50%" }, 2000);
                setTimeout(function () {
                    window.location.href = "/rps"
                }, 1750)
            },
            'rock paper scissors': function () {
                $("#character").attr("src", $("#character").attr("data-walkingup"));
                footsteps.play();
                $("#character").animate({ top: "-50%" }, 2000);
                setTimeout(function () {
                    window.location.href = "/rps"
                }, 1750)
            },
            'go down': function () {
                $("#character").attr("src", $("#character").attr("data-walkingdown"));
                footsteps.play();
                $("#character").animate({ top: "+100%" }, 2000);
                setTimeout(function () {
                    window.location.href = "/store"
                }, 1750)
            },
            'store': function () {
                $("#character").attr("src", $("#character").attr("data-walkingdown"));
                footsteps.play();
                $("#character").animate({ top: "+100%" }, 2000);
                setTimeout(function () {
                    window.location.href = "/store"
                }, 1750)
            },
            'go left': function () {
                $("#character").attr("src", $("#character").attr("data-walkingleft"));
                footsteps.play();
                $("#character").animate({ left: "-10%" }, 2000);
                setTimeout(function () {
                    window.location.href = "/collector"
                }, 1750)
            },
            'stone collector': function () {
                $("#character").attr("src", $("#character").attr("data-walkingleft"));
                footsteps.play();
                $("#character").animate({ left: "-10%" }, 2000);
                setTimeout(function () {
                    window.location.href = "/collector"
                }, 1750)
            },
            'go right': function () {
                $("#character").attr("src", $("#character").attr("data-walkingright"));
                footsteps.play();
                $("#character").animate({ left: "+=1100px" }, 2000);
                setTimeout(function () {
                    window.location.href = "/home"
                }, 1750)
            },
            'home': function () {
                $("#character").attr("src", $("#character").attr("data-walkingright"));
                footsteps.play();
                $("#character").animate({ left: "+=1100px" }, 2000);
                setTimeout(function () {
                    window.location.href = "/home"
                }, 1750)
            }

        };

        // Add our commands to annyang
        annyang.addCommands(commands);

        // Start listening. You can call this here, or attach this call to an event, button, etc.
        annyang.start();
        annyang.isListening()



        console.log(annyang)
// })
    </script>
</body>