<body id="hub">
    <div id="up">
        <button class="button" type="button"><i class="fas fa-arrow-circle-up"></i>Up</button>
    </div>
    <div id="left">
        <button class="button" type="button"><i class="fas fa-arrow-circle-left"></i>Left</button>
    </div>
    <div id="right">
        <button class="button" type="button">Right<i class="fas fa-arrow-circle-right"></i></button>
    </div>
    <div id="down">
        <button class="button" type="button">Down<i class="fas fa-arrow-circle-down"></i></button>
    </div>

    <p><img id="character" src="./images/Crono-Front.gif" data-still="./images/Crono-Front.gif"
            data-walkingleft="./images/Crono-walkingleft.gif" data-walkingright="./images/Crono-walkingright.gif"
            data-walkingup="./images/Crono-walkingup.gif" data-walkingdown="./images/Crono-walkingdown.gif"
            data-state="still" style="position:absolute; top:50%; left: 50%; height: 15%"></p>

    <div class="speech-bubble">
        <div class="arrow bottom right"></div>
        Tell me where to go!
        Say: Up, Down, Left, or Right!
    </div>
    <script>

        var footsteps = new Audio("./sounds/footsteps.mp3");
        var hubloop = new Audio("./sounds/hubloop.mp3");
        hubloop.play();


        // $(document).ready(function(){

        $("#still").on("click", function () {
            $("#character").attr("src", $("#character").attr("data-still"));
        })
        $("#up").on("click", function () {
            setTimeout(function () {
                window.location.href = "/rps"
            }, 1750)
            $("#character").attr("src", $("#character").attr("data-walkingup"));
            footsteps.play();
            $("#character").animate({ top: "-20%" }, 2000);


        })
        $("#down").on("click", function () {
            $("#character").attr("src", $("#character").attr("data-walkingdown"));
            footsteps.play();
            $("#character").animate({ top: "+=1100px" }, 2000);

        })
        $("#left").on("click", function () {
            $("#character").attr("src", $("#character").attr("data-walkingleft"));
            footsteps.play();
            $("#character").animate({ left: "-10%" }, 2000);

        });
        $("#right").on("click", function () {
            $("#character").attr("src", $("#character").attr("data-walkingright"));
            footsteps.play();
            $("#character").animate({ left: "+=1100px" }, 2000);

        });

        $("#startspeech").click(function () {
            alert("READY TO LISTEN FOR VOICE COMMANDS");
            startspeech();
        });



        var commands = {
            'up': function () {
                $("#character").attr("src", $("#character").attr("data-walkingup"));
                footsteps.play();
                $("#character").animate({ top: "-=1100px" }, 2000);
                setTimeout(function () {
                    window.location.href = "/rps"
                }, 1750)
            },
            'down': function () {
                $("#character").attr("src", $("#character").attr("data-walkingdown"));
                footsteps.play();
                $("#character").animate({ top: "+=1100px" }, 2000);
                setTimeout(function () {
                    window.location.href = "/store"
                }, 1750)
            },
            'left': function () {
                $("#character").attr("src", $("#character").attr("data-walkingleft"));
                footsteps.play();
                $("#character").animate({ left: "-=1100px" }, 2000);
                setTimeout(function () {
                    window.location.href = "/collector"
                }, 1750)
            },
            'right': function () {
                $("#character").attr("src", $("#character").attr("data-walkingright"));
                footsteps.play();
                $("#character").animate({ left: "+=1100px" }, 2000);
                setTimeout(function () {
                    window.location.href = "/home"
                }, 1750)
            }

        };

        // Add our commands to annyang
        annyang.addCommands(commands);

        // Start listening. You can call this here, or attach this call to an event, button, etc.
        annyang.start();
        annyang.isListening()



        console.log(annyang)
// })
    </script>
</body>