<form id="signin" name="signin" method="post" action="signin">
    <div id="email">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
    </div>
    <br>
    <div id="password">
        <label for="password">Password</label>
        <input name="password" type="password" />
    </div>
    <br>
    <div id="signIn">
        <input class="btn" type="submit" value="Sign In" />
    </div>
    <br><br><br><br>
    <div id="account">
        Don't have an account?
    </div>
    <div id="signUpButton">
        <button id="button" type="button">Sign Up</button>
    </div>
</form>