<body id="signUpBody">
    <div id="logo">
        <img src="images/imageedit_4_4102534357.png">
    </div>
    <form id="signup" name="signup" method="post" action="/signup">
        <div id="name">
            <label for="firstname">First Name</label>
            <input name="firstname" type="text" />
            <label for="lastname">Last Name</label>
            <input name="lastname" type="text" />
        </div>
        <div id="email">
            <label for="email">Email Address</label>
            <input class="text" name="email" type="email" />
        </div>

        <div id="password">
            <label for="password">Password</label>
            <input name="password" type="password" />
        </div>
        <input id="signUp" class="btn" type="submit" value="Sign Up" />

        <div id="question">
            <div id="account">
                Already have an account?
            </div>
            <div id="signInButton">
                <button id="button" type="button">Sign In</button>
            </div>
        </div>
    </form>
</body>