<body id="signInBody">
    <div id="logo">
        <img src="images/imageedit_4_4102534357.png">
    </div>
    <form id="signin" name="signin" method="post" action="signin">
        <div id="info">
            <div id="email">
                <label for="email">Email Address</label>
                <input class="text" name="email" type="text" />
            </div>
            <br>
            <div id="password">
                <label for="password">Password</label>
                <input name="password" type="password" />
            </div>
        </div>
        <br>
        <div id="signIn">
            <input id="signI" class="btn" type="submit" value="Sign In" />
        </div>
<br> <br>
        <div id="question">
            <div id="account">
                Don't have an account?
            </div>
            <div id="signUpButton" class="signup">
                <button id="button" type="button">Sign Up</button>
            </div>
        </div>
    </form>
</body>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
        $(".signup").on("click", function () {
            window.location.href = "/signup"
        })
</script>