<div class="row">
        <div class="col-md-4"></div>
        <h3 class="text-center col-md-4 card mx-3 my-1 col-md-1">STORE</h3>
        <div class="col-md-4"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success">
            <h3 class="card bg-info mt-2">Hero</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/HERO.png" alt="">
            <h3 class="card bg-warning">100 Coins</h3>
        </div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success">
            <h3 class="card bg-info mt-2">Fairy</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/GIRLFAIRY.png" alt="">
            <h3 class="card bg-warning">100 Coins</h3>
        </div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success">
            <h3 class="card bg-info mt-2">Owl</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/OWL.png" alt="">
            <h3 class="card bg-warning">300 Coins</h3>
        </div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success">
            <h3 class="card bg-info mt-2">Pig</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/PIG.png" alt="">
            <h3 class="card bg-warning">300 Coins</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success">
            <h3 class="card bg-info mt-2">Villain</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/VILLIAN.png" alt="">
            <h3 class="card bg-warning">500 Coins</h3>
        </div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success">
            <h3 class="card bg-info mt-2">Genie</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/GIRLGENIE.png" alt="">
            <h3 class="card bg-warning">500 Coins</h3>
        </div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success">
            <h3 class="card bg-info mt-2">Unicorn</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/UNICORN.png" alt="">
            <h3 class="card bg-warning">900 Coins</h3>
        </div>
        <div class=" card mx-1 my-1 col-md-1 border bg-success">
            <h3 class="card bg-info mt-2">Shark</h3>
            <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/SHARK.png" alt="">
            <h3 class="card bg-warning">900 Coins</h3>
        </div>
        <div class="col-md-4"></div>
    </div>

    <script>
        var commands = {
        'hero': function () {
            alert("You chose hero!")
        },
                'fairy': function () {
            alert("You chose fairy!")
        },
                'owl': function () {
            alert("You chose owl!")
        },
                'pig': function () {
            alert("You chose pig!")
        },
                        'villain': function () {
            alert("You chose villain!")
        },
                        'genie': function () {
            alert("You chose genie!")
        },
                        'unicorn': function () {
            alert("You chose unicorn!")
        },
                        'shark': function () {
            alert("You chose shark!")
        }
    };

    // Add our commands to annyang
    annyang.addCommands(commands);

    // Start listening. You can call this here, or attach this call to an event, button, etc.
    annyang.start();
    annyang.isListening()
    </script>
    