<div class="row">
    <div class="col-md-4"></div>
    <h3 class="text-center col-md-4 card mx-3 my-1 col-md-1">STORE</h3>
    <div class="col-md-4"></div>
</div>
<div class="row text-center">
    <div class="col-md-4"></div>
    <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="hero" >
        <h3 class="card bg-info mt-2">Hero</h3>
        <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/HERO.png" alt="">
        <h3 class="card bg-warning">100 Coins</h3>
    </div>
    <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="fairy">
        <h3 class="card bg-info mt-2">Fairy</h3>
        <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/GIRLFAIRY.png" alt="">
        <h3 class="card bg-warning">100 Coins</h3>
    </div>
    <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="owl">
        <h3 class="card bg-info mt-2">Owl</h3>
        <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/OWL.png" alt="">
        <h3 class="card bg-warning">300 Coins</h3>
    </div>
    <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="pig">
        <h3 class="card bg-info mt-2">Pig</h3>
        <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/PIG.png" alt="">
        <h3 class="card bg-warning">300 Coins</h3>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row text-center">
    <div class="col-md-4"></div>
    <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="villain">
        <h3 class="card bg-info mt-2">Villain</h3>
        <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/VILLIAN.png" alt="">
        <h3 class="card bg-warning">500 Coins</h3>
    </div>
    <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="genie">
        <h3 class="card bg-info mt-2">Genie</h3>
        <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/GIRLGENIE.png" alt="">
        <h3 class="card bg-warning">500 Coins</h3>
    </div>
    <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="unicorn">
        <h3 class="card bg-info mt-2">Unicorn</h3>
        <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/UNICORN.png" alt="">
        <h3 class="card bg-warning">900 Coins</h3>
    </div>
    <div class=" card mx-1 my-1 col-md-1 border bg-success" style="display: show;" id="shark">
        <h3 class="card bg-info mt-2">Shark</h3>
        <img class="mx-auto my-auto py-3" style="width: 50%" src="./images/SHARK.png" alt="">
        <h3 class="card bg-warning">900 Coins</h3>
    </div>
    <div class="col-md-4"></div>
</div>

<script>
var username = "bob";
var usercoins = 5000;

        $("#uname").text(username);
        $("#points").text(usercoins);

    var hero = new Audio("./sounds/hero.mp3");
    var fairy = new Audio("./sounds/fairy.mp3");
    var owl = new Audio("./sounds/owl.mp3");
    var pig = new Audio("./sounds/pig.mp3");
    var villain = new Audio("./sounds/villain.mp3");
    var genie = new Audio("./sounds/genie.mp3");
    var unicorn = new Audio("./sounds/unicorn.mp3");
    var shark = new Audio("./sounds/shark.mp3");

    var commands = {
        'hero': function () {
            hero.play();
            usercoins -= 100;
        $("#hero").attr("style", "display: none;");
        $("#points").text(usercoins);
        }
        ,
        'fairy': function () {
            fairy.play();
                        usercoins -= 100;
        $("#fairy").attr("style", "display: none;");
        $("#points").text(usercoins);
        },
        'owl': function () {
            owl.play();
                        usercoins -= 300;
        $("#owl").attr("style", "display: none;");
        $("#points").text(usercoins);
        },
        'pig': function () {
            pig.play();
                        usercoins -= 300;
        $("#pig").attr("style", "display: none;");
        $("#points").text(usercoins);
        },
        'villain': function () {
            villain.play();
                        usercoins -= 500;
        $("#villain").attr("style", "display: none;");
        $("#points").text(usercoins);
        },
        'genie': function () {
            genie.play();
                        usercoins -= 500;
        $("#genie").attr("style", "display: none;");
        $("#points").text(usercoins);
        },
        'unicorn': function () {
            unicorn.play();
                        usercoins -= 900;
        $("#unicorn").attr("style", "display: none;");
        $("#points").text(usercoins);
        },
        'shark': function () {
            shark.play();
                        usercoins -= 900;
        $("#shark").attr("style", "display: none;");
        $("#points").text(usercoins);
        },
        'town': function(){
            window.location.href = "/hub"
        }
    };

    // Add our commands to annyang
    annyang.addCommands(commands);

    // Start listening. You can call this here, or attach this call to an event, button, etc.
    annyang.start();
    annyang.isListening()
</script>