#header{
    
    width: 960px;
    height: 60px;
    margin: auto;
    margin-top: 0px;
    border-radius: 10px;
    align-content: center;
    padding-left: 250px;
}

#head{
    color: white;
    font-size: 50px;
    display: inline-block;
    
}
 #container{
     width: 960px;
     height: 500px;
     background-color: yellow;
    font-size: 40px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
 }
 #uname,
 #points{
     display:  inline-block;
 }

 footer{
    width: 960px;
    height: 100px;
    margin: auto;
    margin-bottom: 0px;
    border-radius: 25px;
    position: fixed;
    left: 18.5%;
    bottom: .5%;

}
#prompts{
    color: black;
    height: 100px;
    width: 700px;
    margin-left: 130px;
    border-radius: 5px;
    font-size: 25px;
    top: 25px;
    position: relative;
    background-color: white;
    
}

#crono{
    margin-left: 70px;
    margin-top: -5px;
    height: 90px;
}
#coin{
    margin-left: 70px;
    margin-top: -5px;
    height: 90px;
}

#up{
    width: 60px;
    margin: auto;
    margin-top: 20px;
    left: 48%;
}

#down{
    position: fixed;
    bottom: 50px;
    width: 60px;
    margin: auto;
    left: 48%;
    
}

#right{
    position: fixed;
    right: 5%;
    top: 50%;
}

#left{
    position: fixed;
    left: 5%;
    top: 50%;
}

.button{
    height: 40px;
    width: 60px;
}

#hub{
    background-image: url("http://www.bestfunforall.com/better/imgs/Cartoon%20house%20wallpaper%20%202.jpg");

    background-size: cover;

    background-attachment: fixed;
    background-position: center;
}

#home{
    background-image: url("http://www.bestfunforall.com/better/imgs/Cartoon%20house%20wallpaper%20%203.jpg");

    background-size: cover;

    background-attachment: fixed;
    background-position: center;
}

#store{
    background-image: url("http://www.bestfunforall.com/better/imgs/Cartoon%20house%20wallpaper%20%200.jpg");

    background-size: cover;

    background-attachment: fixed;
    background-position: center;
}

#rps{
    background-image: url("http://www.bestfunforall.com/freepik1/imgs/Cartoon%20House%20Wallpapers%20%204.jpg");

    background-size: cover;

    background-attachment: fixed;
    background-position: center;
}

#collector{
    background-image: url("http://www.bestfunforall.com/better/imgs/Cartoon%20house%20wallpaper%20%207.jpeg");

    background-size: cover;

    background-attachment: fixed;
    background-position: center;
}
 #eevee, #goal, #current{
     color: white;
 }
.speech-bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: 190px;
    text-align: center;
    padding: 20px;
    position: absolute;
    left: 55%;
    top: 30%;
}

.speech-bubble .arrow {
    border-style: solid;
    position: absolute;
    color: white
}
 
.bottom {
    border-color: #c8c8c8 transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    bottom: -8px;
}

#prompts, #crono{
    display: inline-block;
}

#welcomeBody {
    background-image: url("https://wallpaperset.com/w/full/6/c/d/238959.jpg");
    background-size: cover
 }
 
 #login {
    width: 960px;
    margin: auto
 }
 
 #welcomeHead{
    font-size: 250px;
    color: white;
    text-align: center;
 }

 .list-group-item {
  line-height: 2.5;
}

.speech-bubble {
   background-color: #f8f8f8;
   border: 1px solid #c8c8c8;
   border-radius: 5px;
   width: 190px;
   text-align: center;
   padding: 20px;
   position: absolute;
   left: 55%;
   top: 30%;
}

.speech-bubble .arrow {
   border-style: solid;
   position: absolute;
   color: white
}

#email{
    margin-top: 25%;
    margin-left: 30%;
    font-size: 30px;

}

#password{
    margin-left: 32%;
    font-size: 30px;
}

#signIn, #signUp{
    margin-left: 45%;
}
#account{
    margin-left: 42%
}

#name{
    margin-top: 20%;
    margin-bottom: -23%;
    margin-left: 18%;
    font-size: 30px;
}

#signUpButton, #signInButton{
    margin-left: 45%;
}

